# Enable Bzlmod for every Bazel command
common --enable_bzlmod

# Use Java 25 features with GraalVM
build --java_language_version=25
build --tool_java_language_version=25
build --tool_java_runtime_version=local_jdk
build --action_env=PATH
build --action_env=JAVA_HOME
