<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactName</key>
	<string>Bourbon Lang Team</string>
	<key>description</key>
	<string>Syntax highlighting for Bourbon token scanner test case files.</string>
	<key>name</key>
	<string>BourbonTest</string>
	<key>uuid</key>
	<string>8A1F1F8E-8A5B-4C0E-921F-3D2E2B0C4A5D</string>
</dict>
</plist>
